.back{
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
}
/* 
"react-helmet": "^6.1.0", */


@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-timing-function: ease;
}

.back.red {
    background-color: #FFF2F2;
}
.back.blue {
    background-color: #F2F9FF;
}
.back.green {
    background-color: #F2FFF5;
}
.back.red.dark {
    background-color: #0D0404;
}
.back.blue.dark {
    background-color: #0D0404;
}
.back.green.dark {
    background-color: #0D0404;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal{
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.modal__overlay{
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px);
}

.modal__content{
    width: 448px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.039), 0px 5.5px 16px rgba(0, 0, 0, 0.19);
    border-radius: 24px;
    padding: 24px;
    border: 1px solid rgba(255, 255, 255, 0.856);
}

@media(max-width: 475px){
    .modal__content{
        width: 365px;
    }
}
@media(max-width: 375px){
    .modal__content{
        width: 345px;
    }
}
@media(max-width: 350px){
    .modal__content{
        width: 325px;
    }
}

.modal__content h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.15px;
}

.modal__content p{
    padding: 16px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.15px;
}

.modal__content.red{
    background-color: #FFF2F2;
    color: #471515;
}
.modal__content.green{
    background-color: #F2FFF5;
    color: #14401D;
}
.modal__content.blue{
    background-color: #F2F9FF;
    color: #153047;
}

.modal__content.red.dark{
    background-color: #0D0404;
    color: #FFF2F2;
}
.modal__content.green.dark{
    background-color: #0D0404;
    color: #F2FFF5;
}
.modal__content.blue.dark{
    background-color: #0D0404;
    color: #F2F9FF;
}


.settings{
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 12px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings.red:hover{
    background: rgba(255, 76, 76, 0.15);
    border-radius: 10px;
}
.settings.green:hover{
    background: rgba(77, 218, 110, 0.15);
    border-radius: 10px;
}
.settings.blue:hover{
    background: rgba(76, 172, 255, 0.15);
    border-radius: 10px;
}
.settings.red.dark:hover{
    background: rgba(255, 76, 76, 0.71);
    border-radius: 10px;
}
.settings.green.dark:hover{
    background: rgba(77, 218, 110, 0.62);
    border-radius: 10px;
}
.settings.blue.dark:hover{
    background: rgba(76, 172, 255, 0.62);
    border-radius: 10px;
}

.input__range.red .input-range__track--active ,
.input__range.red .input-range__slider  {
    background: rgba(255, 76, 76, 1) !important;
    border-color: rgba(255, 76, 76, 1) !important;
} 
.input__range.green .input-range__track--active ,
.input__range.green .input-range__slider  {
    background: rgba(77, 218, 110, 1) !important;
    border-color: rgba(77, 218, 110, 1) !important;
} 
.input__range.blue .input-range__track--active ,
.input__range.blue .input-range__slider  {
    background: rgba(76, 172, 255, 1) !important;
    border-color: rgba(76, 172, 255, 1) !important;
} 

.faze__description{
    display: flex;
    align-items: center;
    padding: 10px 16px;
    gap: 8px;
    max-width: fit-content;
    margin: 0 auto;
    user-select: none;
}

.faze__description.red{
    border: 2px solid #471515;
    color: #471515;
    border-radius: 9999px;
    background: rgba(255, 76, 76, 0.15);
}
.faze__description.green{
    border: 2px solid #14401D;
    color: #14401D;
    border-radius: 9999px;
    background: rgba(77, 218, 110, 0.15);
}
.faze__description.blue{
    border: 2px solid #153047;
    color: #153047;
    border-radius: 9999px;
    background: rgba(76, 172, 255, 0.15);
}
.faze__description.red.dark{
    border: 2px solid #FFF2F2;
    color: #FFF2F2;
    border-radius: 9999px;
    background: rgba(255, 76, 76, 0.15);
}
.faze__description.green.dark{
    border: 2px solid #F2FFF5;
    color: #F2FFF5;
    border-radius: 9999px;
    background: rgba(77, 218, 110, 0.15);
}
.faze__description.blue.dark{
    border: 2px solid #F2F9FF;
    color: #F2F9FF;
    border-radius: 9999px;
    background: rgba(76, 172, 255, 0.15);
}

.faze__description-icon.red{
    width: 30px;
    height: 26px;
    background: url('../images/red.svg') no-repeat center / cover;
}
.faze__description-icon.green{
    width: 28px;
    height: 26px;
    background: url('../images/green.svg') no-repeat center / cover;
}
.faze__description-icon.blue{
    width: 28px;
    height: 26px;
    background: url('../images/blue.svg') no-repeat center / cover;
}
.faze__description-icon.red.dark{
    width: 30px;
    height: 26px;
    background: url('../images/red_dark.svg') no-repeat center / cover;
}
.faze__description-icon.green.dark{
    width: 28px;
    height: 26px;
    background: url('../images/green_dark.svg') no-repeat center / cover;
}
.faze__description-icon.blue.dark{
    width: 28px;
    height: 26px;
    background: url('../images/blue_dark.svg') no-repeat center / cover;
}

.faze__description-text{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-transform: capitalize;
}

.faze__step{
    user-select: none;
    text-align: center;
    margin-top: 20px;
    font-weight: 200;
    font-size: 20px;
}
.faze__step.dark{
    user-select: none;
    text-align: center;
    margin-top: 20px;
    font-weight: 200;
    font-size: 20px;
    color: white;
}

.faze__timer{
    margin-top: 12px;
    font-weight: 200;
    font-size: 256px;
    line-height: 85%;
    user-select: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .1s ease-in-out;
}

.faze__timer.red{
    color: #471515;
}
.faze__timer.green{
    color: #14401D;
}
.faze__timer.blue{
    color: #153047;
}
.faze__timer.red.dark{
    color:#FFF2F2;
}
.faze__timer.green.dark{
    color: #F2FFF5;
}
.faze__timer.blue.dark{
    color: #F2F9FF;
}

.faze__timer.run{
    font-weight: 800;
}

.faze__controllers{
    margin-top: 32px;
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
}

.controller{
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.controller.red{
    background: rgba(255, 76, 76, 0.15);
    border-radius: 24px;
    transition: all 0.3s ease;
}
.controller.green{
    background: rgba(77, 218, 110, 0.15);
    border-radius: 24px;
    transition: all 0.3s ease;
}
.controller.blue{
    background: rgba(76, 172, 255, 0.15);
    border-radius: 24px;
    transition: all 0.3s ease;
}
.controller.red:hover{
    background: rgba(255, 20, 20, 0.15);
    border-radius: 24px;
}
.controller.green:hover{
    background: rgba(22, 214, 67, 0.15);
    border-radius: 24px;
}
.controller.blue:hover{
    background: rgba(21, 145, 253, 0.15);
    border-radius: 24px;
}

.faze__controllers-switch{
    width: 128px;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.faze__controllers-switch.red{
    background: rgba(255, 76, 76, 0.71);
    border-radius: 32px;
    transition: all 0.3s ease;
}
.faze__controllers-switch.green{
    background: rgba(77, 218, 110, 0.62);
    border-radius: 32px;
    transition: all 0.3s ease;
}
.faze__controllers-switch.blue{
    background: rgba(76, 172, 255, 0.62);
    border-radius: 32px;
    transition: all 0.3s ease;
}
.faze__controllers-switch.red:hover{
    background: rgba(255, 46, 46, 0.71);
    border-radius: 32px;
}
.faze__controllers-switch.green:hover{
    background: rgba(45, 206, 82, 0.62);
    border-radius: 32px;
}
.faze__controllers-switch.blue:hover{
    background: rgba(34, 152, 255, 0.62);
    border-radius: 32px;
}